body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0rem;
    background-color: #F7F7F7;
    display: grid;
    gap: 3.75rem;
    justify-items: center;
    margin-top: 3.75rem;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

p, h1, h2, h3{
    margin: 0rem;
}

p{
    font-size: 1.25rem;
    line-height: 1.3;
}

.header{
    display: grid;
    justify-items: center;
    gap: 3.75rem;
}

ul{
    list-style: none;
    margin: 0rem;
    padding: 0rem;
}

.menu{
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
    justify-content: center;
}

.menu a{
    display: block;
    background-color: #FFF;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    color: #000;
    text-transform: uppercase;
}

.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 62.5rem;
}

.introducao{
    background-color: #FFF;
    padding: 2.5rem;
    text-align: right;
    position: relative;
    display: grid;
    align-content: center;
    gap: 1.25rem;
    justify-items: end;
}

.introducao h1{
    font-size: 2rem;
}

.detalhe{
    width: 4rem;
    height: 0.25rem;
    background-color: #E21;
    position: absolute;
    top: 2rem;
    right: -2rem;
}

.introducao a{
    background-color: #E21;
    color: #FFF;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    text-transform: uppercase;
}

.subtitulo{
    font-size: 4rem;
    text-transform: uppercase;
    color: #C8C8C8;
    text-align: right;
    padding: 2.5rem;
    align-self: center;
}

.vantagens{
    background-color: #FFF;
    padding: 2.5rem;
}

.vantagens-item{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.625rem 1.25rem;
    padding: 1.25rem;
}

.vantagens-item p{
    grid-column: 2;
}

.rodape{
    background-color: #FFF;
    padding: 2.5rem;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}